.app_bar {
  position: fixed;
  height: 2em;
  background-color: #2d374c;
  width: 100%;
  box-shadow: 0px 3px 4px 0px #20232a;
}

.log_in_button {
  position: absolute;
  right: 1em;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

.user_name {
  position: absolute;
  left: 1em;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
}
