.app_bar {
  display: flex;
  padding-right: 2rem;
  position: fixed;
  align-items: center;
  background-color: var(--dark-accent);
  width: 100%;
  box-shadow: 0px 3px 4px 0px #20232a;
  height: 3rem;
  z-index: 2;
}

.pointer {
  cursor: pointer;
}

.app_bar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 9rem;
  height: 100%;
  color: var(--light-font);
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
}

.app_bar_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 11rem;
  height: 100%;
  color: var(--light-font);
  margin-left: auto;
}

.bar_title {
  color: var(--light-font);
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 2rem;
}

.login_button {
  display: none;
}
.login_link {
  display: block;
}

@media (min-width: 767.98px) {
  .app_bar {
    height: 2rem;
  }
  .login_link {
    display: none;
  }
  .login_button {
    display: block;
  }
}
