.coin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.coin_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.coin_main_info {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}

.coin_value {
  flex: 1;
}

.coin_image {
  object-fit: contain;
}

.coin_name {
  margin: 1rem;
}

.coin_ticker {
  font-size: 1.5rem;
  color: var(--font-disabled);
}

.coin_current {
  font-size: 2rem;
}

.red {
  color: rgb(255, 49, 49);
}

.green {
  color: rgb(130, 196, 32);
}
