.App {
  text-align: center;
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
}

h1 {
  margin: 64px;
}

a {
  color: inherit;
  text-decoration: none;
}
